# Active modules (separated by commas)
# Available: clock, weather, server
MODULES=clock,weather,server

# Picture size
WIDTH=800
HEIGHT=480
DPI=100

# Output directory
OUTPUT_DIR=/mnt/usb/

# E-Ink Mode (true = black/white, false = color)
EINK=false

# Location
LOCATION=Berlin
CITY=Berlin · DE
LATITUDE=52.52
LONGITUDE=13.41
TIMEZONE=Europe/Berlin

# Server / Glances
GLANCES_HOST=http://localhost:61208
SERVER_NAME=homelab-01

# Docker Container (separated by commas, exactly as in `docker ps`)
DOCKER_WHITELIST=deluge,nginx,portainer,vaultwarden

# systemd Services (separated by commas, without .service)
SYSTEMD_WHITELIST=httpd,fail2ban,sshd,firewalld

# SSH Hostname for systemd + Docker Checks (exactly as in ~/.ssh/config or /etc/hosts)
SSH_HOST=example.name

# SSH User (Standard: same user as pi)
SSH_USER=

# Ping destination for Internet connection (Standard: 1.1.1.1)
PING_HOST=1.1.1.1

# language selection
DASHBOARD_LANG=de